@using YogaCenter.Core.Models
@model IEnumerable<TeacherViewModel>

@{
    ViewBag.Title = "Our Teachers";
}

<head>
    <style>
        body {
            background-image: url(https://img.freepik.com/free-vector/mandala-patterns-blue-background_1308-69901.jpg?w=2000);
            color: black;
        }
        #titleDiv {
            position:center;
            width:1250px;
            padding:40px;
            top: 200px;
        }
        #textDiv {
            
            position:center;
            width:1230px;
            padding:40px;
            top: 300px;
        }
    </style>
</head>
<body>
<div class="text-center row" id="titleDiv">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="text-center row" id="textDiv">
        @foreach (var teacher in Model)
        {
            <div class="content" style="width: 20rem;">
                <div class="card-body">

                    <h5 class="card-title mt-1">@teacher.FullName</h5>
                    <p class="mb-0">Description: @teacher.Description</p>
                    <p class="mb-0">Email: @teacher.Email</p>
                </div>
            </div>
        }
    </div>

</div>
</body>
