@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        #titleDiv {
            position:center;
            width:1250px;
            padding:40px;
            top: 200px;
        }
        #textDiv {
            
            position:center;
            width:1230px;
            padding:40px;
            top: 300px;
        }
    </style>
</head>
<body>
<div class="text-center" id="titleDiv">
    <h1 class="display-4">Welcome to Sanoholistic Center</h1>
    
    <div class="text-center" id="textDiv">
    
        <h3 >We will help you to find peace and happiness</h3>
    
    </div>
</div>

</body>
</html>

