@using YogaCenter.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YogaCenter.Core.Models.Administrator
@model InfoDetailsViewModel


@{
    ViewBag.Title = "Edit info";
    ViewBag.Id = User.Id();
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}




<head>
    <style>
        #titleDiv {
            position: center;
            width: 1250px;
            padding: 40px;
            top: 200px;
        }

        #textDiv {
            position: center;
            width: 1230px;
            padding: 40px;
            top: 300px;
        }
    </style>
</head>
<body>
    <div class="text-center" id="titleDiv">
        <h1 class="display-4">@ViewBag.Title</h1>


    </div>

    <div class="row">
        <form method="post">
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

                <input type="hidden" asp-for="@Model.Id" />
                
                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label">Description</label>
                    <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
               

                <input class="btn btn-outline-success" type="submit" value="Save changes" />



            </div>

        </form>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}